@import "tailwindcss";

:root {
  --background: #020911;
  --foreground: #ffffff;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: white;
  color: var(--foreground);
   font-family: 'Nunito', sans-serif;
}

@keyframes arrowShift {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(6px); }
}

@keyframes shine {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.arrow-shift {
  animation: arrowShift 1.6s ease-in-out infinite;
}


/* app/globals.css */
@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite;
}

@keyframes wave {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.btn-wave {
  background: linear-gradient(270deg, #1EBD87, #17a876, #0d9e6a, #1EBD87);
  background-size: 300% 300%;
  animation: wave 3s ease infinite;
}


