@import "tailwindcss";

:root {
  --background: #020911;
  --foreground: #ffffff;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #0a0f1d;
  color: var(--foreground);
   font-family: 'Nunito', sans-serif;
}

@keyframes arrowShift {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(6px); }
}

@keyframes shine {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.arrow-shift {
  animation: arrowShift 1.6s ease-in-out infinite;
}



