@import "tailwindcss";

:root {
  --background: #020911;
  --foreground: #ffffff;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #0a0f1d;
  color: var(--foreground);
   font-family: 'Nunito', sans-serif;
}





